--extra-index-url https://download.pytorch.org/whl/cpu
cffi==1.15.1
filelock==3.4.2
numpy==1.23.5
onnx==1.13.1
onnxoptimizer==0.3.13
onnxruntime==1.15.0
tensorflow==2.12.0
# Versions of torchaudio and torchvision should match torch
# https://github.com/pytorch/vision#installation
# https://pytorch.org/audio/main/installation.html#compatibility-matrix
torch==2.0.0+cpu
torchaudio==2.0.1+cpu
torchvision==0.15.1+cpu
# pandas needed for deep-learning-HAR
pandas==1.5.3
platformdirs==2.5.0
