--extra-index-url https://download.pytorch.org/whl/cpu
cffi==1.15.0
filelock==3.4.2
numpy==1.22.3
onnx==1.12.0
onnxoptimizer==0.3.7
onnxruntime==1.14.1
tensorflow==2.8.0
# Versions of torchaudio and torchvision should match torch
# https://github.com/pytorch/vision#installation
# https://pytorch.org/audio/main/installation.html#compatibility-matrix
torch==1.11.0+cpu
torchaudio==0.11.0+cpu
torchvision==0.12.0+cpu
torchdatasets==0.2.0
# pandas needed for deep-learning-HAR
pandas==1.4.1
platformdirs==2.5.0
